---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="page">
    <div class="page-wrapper">

    {% include photoswipe.html %}

    {% include hero.html %}

    {% include contact.html %}

    {% include almyrida-photoswipe-jpg.html %}

    {% include rooms-photoswipe-jpg.html %}

     {% include reviews.html %}

    {% include reservation.html %}

    {% include map.html %}

        </div>
    </div>


 <!-- Js all-->
 <script type="text/javascript" src="/assets/js/js-all.js"></script>
</body>
</html>