<section id="map" class="map">
<!--    <img src="http://api.tiles.mapbox.com/v4/dimdev.map-931m9s3u/24.20442,35.45140,9/1200x535.png?access_token=pk.eyJ1IjoiZGltZGV2IiwiYSI6IlM2RWhINUEifQ.f8o-OSDJ_OwozYsL89QvoQ" alt=""> -->
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15501.024729518735!2d109.2239812257978!3d13.763418637087215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316f6c635b657a75%3A0xc66e15609094ba1e!2zS2jDoWNoIHPhuqFuIFZpIFZ1!5e0!3m2!1svi!2s!4v1521801003094" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div id="contact" class="contact">
        <h2>Contact</h2>
        <div class="email"><a href="mailto:odayakabe@gmail.com">odayakabe@gmail.com</a></div>
        <div class="phone">+84 02563 893 893</div>
    </div>
    </section>