 <section id="reviews" class="reviews">
            <div class="reviews-inside">    
                <div class="reviews-title" >Đánh giá </div>
                <div class="review-wrapper">
                    {% for review in site.data.reviews %}
                       <div class="review">     
                           <div class="review-inside">

<div class="fb-page" data-href="https://www.facebook.com/vivuhotel/" data-tabs="timeline" data-width="1000" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/vivuhotel/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vivuhotel/">Khách sạn Vi Vu Quy Nhơn</a></blockquote></div>
                            </div>  
                        </div>
                    {% endfor %}
                    </div>
             </div>
        </section>